
    @font-face{ 
        font-family: 'curveFont';
        src: url('/Content/Alcubierre.otf') format("opentype");
    }
    .bubble.notcenter:hover, .bubble.center:hover, .bubble.notmax:hover{
        margin-left:22%;
        margin-top:6vh;
    }
.Wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bubble.notcenter, .bubble.center{
    position:absolute;
}
.bubble.notcenter p, .bubble.center p{
    color:black !important;
    font-size:100%;
}
    .bubble{
        overflow-y:hidden;
        text-align:center;
        font-weight:800;
        letter-spacing:5px;
        text-transform:lowercase !important;
        font-family: 'curveFont';
        color:white;
        border:none;
        -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	
        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
        transition:1s;
        margin-top:10vh;
        margin-bottom:10vh;
    }
    .bblue {
    background-color: skyblue;
    background-image: none;
    }
.wheel{
	margin-left:33vw;
	margin-right:33%;

}
    .bblue.notmax{
        background: -webkit-radial-gradient(lightblue, skyblue, skyblue) !important; /* Safari 5.1 to 6.0 */
        background: -o-radial-gradient(lightblue, skyblue, skyblue) !important; /* For Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(lightblue, skyblue, skyblue) !important; /* For Firefox 3.6 to 15 */
        background: radial-gradient(lightblue, skyblue, skyblue) !important; /* Standard syntax */
    }
    .bred {
    background-color: indianred;
    background-image: none;
    }
    .bred.notmax{
        background: -webkit-radial-gradient(firebrick, indianred, indianred) !important; /* Safari 5.1 to 6.0 */
        background: -o-radial-gradient(firebrick, indianred, indianred) !important; /* For Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(firebrick, indianred, indianred) !important; /* For Firefox 3.6 to 15 */
        background: radial-gradient(firebrick, indianred, indianred) !important; /* Standard syntax */
    }
    .bgreen {
    background-color: lightgreen;
    background-image: none;
    }
    .bgreen.notmax{
        background: -webkit-radial-gradient(forestgreen, lightgreen, lightgreen) !important; /* Safari 5.1 to 6.0 */
        background: -o-radial-gradient(forestgreen, lightgreen, lightgreen) !important; /* For Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(forestgreen, lightgreen, lightgreen) !important; /* For Firefox 3.6 to 15 */
        background: radial-gradient(forestgreen, lightgreen, lightgreen) !important; /* Standard syntax */
    }
    .bubble span{
        margin-top:50px;
    }
    .bubble p{
        font-size:30%;
        color:white;
        word-break:break-all
    }
.notmax {
    font-size:300%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    overflow-y: hidden;
}
.max {
    box-shadow: none;
    z-index:1;
    width: 100% !important;
    height: 100vh !important;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0px;
    left: 0 !important;
    top: 0 !important;
    font-size: 600%;
    overflow-y: scroll;
}