
    @font-face{ 
        font-family: 'curveFont';
        src: url('/Content/Alcubierre.otf') format("opentype");
    }
    .bubble.notmax:hover{
        width:230px;
        height:230px
    }
    .Wheel{
        position:absolute;
    }
    .bubble{
        overflow-y:hidden;
        width:200px;
        height:200px;
        text-align:center;
        font-weight:800;
        letter-spacing:5px;
        text-transform:lowercase !important;
        font-family: 'curveFont';
        color:white;
        border:none;
        background: -webkit-radial-gradient(lightblue, skyblue, skyblue); /* Safari 5.1 to 6.0 */
        background: -o-radial-gradient(lightblue, skyblue, skyblue); /* For Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(lightblue, skyblue, skyblue); /* For Firefox 3.6 to 15 */
        background: radial-gradient(lightblue, skyblue, skyblue); /* Standard syntax */
        -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	
        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
        transition:1s;
        margin:100px
    }
    .bubble span{
        margin-top:50px;
    }
    .bubble p{
        font-size:30%;
        color:white;
        word-break:break-all
    }
.notmax {
    font-size:300%;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    overflow-y: hidden;
    background: -webkit-radial-gradient(lightblue, skyblue, skyblue); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(lightblue, skyblue, skyblue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(lightblue, skyblue, skyblue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(lightblue, skyblue, skyblue); /* Standard syntax */
}
.max {
    z-index:1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0px;
    left: 0 !important;
    top: 0 !important;
    font-size: 600%;
    overflow-y: scroll;
    background-color: skyblue !important;
    background-image: none !important;
}